@charset "UTF-8";

@font-face {
    font-family: 'valorant01-font';
    src: url(../fonte/valorant-font.ttf) format('truetype');
}

@font-face {
    font-family: 'valorant02-font';
    src: url(../fonte/valorant02-font-bold.ttf) format('truetype');
}

@font-face {
    font-family: 'redhat';
    src: url(../fonte/redhat-regular.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte01: 'valorant01-font', cursive;
    --fonte02: 'valorant02-font', cursive;
    --fonte03: 'redhat', sans-serif;


    --color01: #a7334c;
    --color02: #070A0D;
    --color03: #ce2a4e;
    --color04: #0D1720;
}

header{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent), url(../imagens/valorant02.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    padding-bottom: 100px;
}

header h1{
    font-family: var(--fonte01);
    font-size: 13vh;
    text-align: center;
    color: var(--color03);
    text-shadow: 3px 1px 5px #0D1720;
    padding-bottom: 450px;    
}

header p{
    font-family: var(--fonte02);
    font-size: 4vh;
    text-align: center;
    margin: auto;
    padding: 5px;
    color: var(--color03);
    background-image: linear-gradient(to top, #0D1720, #0d172054);
    border-bottom: 1px solid var(--color03);
    width: 200px;
    height: 30px;
}

header .menu{
    font-family: var(--fonte01);
    text-align: right;
    padding: 10px;
}

header .menu a{
    background-color: var(--color03);
    border: 3px solid #070a0d;
    box-shadow: 2px 2px 6px 0px #070a0dbb;
    color: #070A0D;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    transition: 0.4s linear;
}

header .menu a:hover{
    text-decoration: underline;
    background-color: #e67282;
}

main{
    font-family: var(--fonte03);
    background-color: black;
}

main #titulohistoria{
    background-color: #0D1720;
    color: white;
    text-align: center;
    padding: 15px 0px;
    border-radius: 10px 10px 0px 0px;
    width: 700px;
    margin: auto;
}

main #historia{
    background-color: #a7334c;
    width: 700px;
    height: 450px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 0px 0px 10px 10px;
}

main #historia h2{
    background-color: #0D1720;
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

main #historia p{
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    line-height: 1.5em;
    color: white;
}

main #tituloagentes{
    background-color: #0D1720;
    color: white;
    text-align: center;
    padding: 15px 0px;
    border-radius: 10px 10px 0px 0px;
    width: 700px;
    margin: auto;
}

main #agentes{
    background-color: #a7334c;
    width: 700px;
    height: 450px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}

main #agentes h2{
    background-color: #0D1720;
    text-align: center;
    padding: 15px;
    color: white;
}

main #agentes p{
    color: #0D1720;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--fonte03);
}

main .imgagentes{
    height: 450px;
    width: 700px;
    overflow: auto;
    text-align: center;
    align-content: center;
}

main .imgagentes a{
    text-decoration: none;
}

main .a01, .a02, .a03, .a04{
    float: left;
}

main .a03{
    clear: left;
}

main .agente{
    margin: 10px;
    transition: .6s ease-in;
}

main .a01{
    background-color: #E1B576;
}

main .a02{
    background-color: #59EA5D;
}

main .a03{
    background-color: #59FFDB;
}

main .a04{
    background-color: #F147B1;
}

main .agente:hover{
    background-color: white;
}

footer{
    font-family: var(--fonte03);
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 100px;
}

footer p{
    font-family: var(--fonte03); 
    background-color: black;
}

footer a{
    text-decoration: none;
    color: #a7334c;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}